In [1]:
import pandas as pd

# Veriyi sözlük olarak oluştur
data = {
    "region": ["East South Central", "Pacific", "Mountain", "West South Central", "Pacific", 
               "Mountain", "New England", "South Atlantic", "South Atlantic", "South Atlantic",
               "South Atlantic", "Pacific", "Mountain", "East North Central", "East North Central",
               "West North Central", "West North Central", "East South Central", "West South Central",
               "New England", "South Atlantic", "New England", "East North Central", "West North Central",
               "East South Central", "West North Central", "Mountain", "West North Central",
               "Mountain", "New England", "Mid-Atlantic", "Mountain", "Mid-Atlantic",
               "South Atlantic", "West North Central", "East North Central", "West South Central",
               "Pacific", "Mid-Atlantic", "New England", "South Atlantic", "West North Central",
               "East South Central", "West South Central", "Mountain", "New England", "South Atlantic",
               "Pacific", "South Atlantic", "East North Central", "Mountain"],
    
    "state": ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
              "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois",
              "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts",
              "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada",
              "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota",
              "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", 
              "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington",
              "West Virginia", "Wisconsin", "Wyoming"],
    
    "individuals": [2570, 1434, 7259, 2280, 109008, 7607, 2280, 708, 3770, 21443, 6943, 4131, 
                    1297, 6752, 3776, 1711, 1443, 2735, 2540, 1450, 4914, 6811, 5209, 3993, 
                    1024, 3776, 983, 1745, 7058, 835, 6048, 1949, 39827, 6451, 467, 6929, 
                    2823, 11139, 8163, 747, 3082, 836, 6139, 19199, 1904, 780, 3928, 16424, 
                    1021, 2740, 434],
    
    "family_members": [864, 582, 2606, 432, 20964, 3250, 1696, 374, 3134, 9587, 2556, 2399, 
                       715, 3891, 1482, 1038, 773, 953, 519, 1066, 2230, 13257, 3142, 3250, 
                       328, 2107, 422, 676, 486, 615, 3350, 602, 52070, 2817, 75, 3320, 1048, 
                       3337, 5349, 354, 851, 323, 1744, 6111, 972, 511, 2047, 5880, 222, 2167, 205],
    
    "state_pop": [4887681, 735139, 7158024, 3009733, 39461588, 5691287, 3571520, 965479, 
                  701547, 21244317, 10511131, 1420593, 1750536, 12723071, 6695497, 3148618, 
                  2911359, 4461153, 4659690, 1339057, 6035802, 6882635, 9984072, 5606249, 
                  2981020, 6121623, 1060665, 1925614, 3027341, 1353465, 8886025, 2092741, 
                  19530351, 10381615, 758080, 11676341, 3940235, 4181886, 12800922, 1058287, 
                  5084156, 878698, 6771631, 28628666, 3153550, 624358, 8501286, 7523869, 
                  1804291, 5807406, 577601],
    
  
}

# DataFrame'e çevir
homelessness = pd.DataFrame(data)

# DataFrame'i göster
homelessness

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570,864,4887681
1,Pacific,Alaska,1434,582,735139
2,Mountain,Arizona,7259,2606,7158024
3,West South Central,Arkansas,2280,432,3009733
4,Pacific,California,109008,20964,39461588
5,Mountain,Colorado,7607,3250,5691287
6,New England,Connecticut,2280,1696,3571520
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
12,Mountain,Idaho,1297,715,1750536
13,East North Central,Illinois,6752,3891,12723071
14,East North Central,Indiana,3776,1482,6695497
15,West North Central,Iowa,1711,1038,3148618
16,West North Central,Kansas,1443,773,2911359
17,East South Central,Kentucky,2735,953,4461153
18,West South Central,Louisiana,2540,519,4659690
19,New England,Maine,1450,1066,1339057
20,South Atlantic,Maryland,4914,2230,6035802
21,New England,Massachusetts,6811,13257,6882635
22,East North Central,Michigan,5209,3142,9984072
23,West North Central,Minnesota,3993,3250,5606249
24,East South Central,Mississippi,1024,328,2981020
25,West North Central,Missouri,3776,2107,6121623
26,Mountain,Montana,983,422,1060665
27,West North Central,Nebraska,1745,676,1925614
28,Mountain,Nevada,7058,486,3027341
29,New England,New Hampshire,835,615,1353465
30,Mid-Atlantic,New Jersey,6048,3350,8886025
31,Mountain,New Mexico,1949,602,2092741
32,Mid-Atlantic,New York,39827,52070,19530351
33,South Atlantic,North Carolina,6451,2817,10381615
34,West North Central,North Dakota,467,75,758080
35,East North Central,Ohio,6929,3320,11676341
36,West South Central,Oklahoma,2823,1048,3940235
37,Pacific,Oregon,11139,3337,4181886
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
39,New England,Rhode Island,747,354,1058287
40,South Atlantic,South Carolina,3082,851,5084156
41,West North Central,South Dakota,836,323,878698
42,East South Central,Tennessee,6139,1744,6771631
43,West South Central,Texas,19199,6111,28628666
44,Mountain,Utah,1904,972,3153550
45,New England,Vermont,780,511,624358
46,South Atlantic,Virginia,3928,2047,8501286
47,Pacific,Washington,16424,5880,7523869
48,South Atlantic,West Virginia,1021,222,1804291
49,East North Central,Wisconsin,2740,2167,5807406
50,Mountain,Wyoming,434,205,577601

In [2]:
# Add total col as sum of individuals and family_members

homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

In [3]:
homelessness

,region,state,individuals,family_members,state_pop,total
0,East South Central,Alabama,2570,864,4887681,3434
1,Pacific,Alaska,1434,582,735139,2016
2,Mountain,Arizona,7259,2606,7158024,9865
3,West South Central,Arkansas,2280,432,3009733,2712
4,Pacific,California,109008,20964,39461588,129972
5,Mountain,Colorado,7607,3250,5691287,10857
6,New England,Connecticut,2280,1696,3571520,3976
7,South Atlantic,Delaware,708,374,965479,1082
8,South Atlantic,District of Columbia,3770,3134,701547,6904
9,South Atlantic,Florida,21443,9587,21244317,31030
10,South Atlantic,Georgia,6943,2556,10511131,9499
11,Pacific,Hawaii,4131,2399,1420593,6530
12,Mountain,Idaho,1297,715,1750536,2012
13,East North Central,Illinois,6752,3891,12723071,10643
14,East North Central,Indiana,3776,1482,6695497,5258
15,West North Central,Iowa,1711,1038,3148618,2749
16,West North Central,Kansas,1443,773,2911359,2216
17,East South Central,Kentucky,2735,953,4461153,3688
18,West South Central,Louisiana,2540,519,4659690,3059
19,New England,Maine,1450,1066,1339057,2516
20,South Atlantic,Maryland,4914,2230,6035802,7144
21,New England,Massachusetts,6811,13257,6882635,20068
22,East North Central,Michigan,5209,3142,9984072,8351
23,West North Central,Minnesota,3993,3250,5606249,7243
24,East South Central,Mississippi,1024,328,2981020,1352
25,West North Central,Missouri,3776,2107,6121623,5883
26,Mountain,Montana,983,422,1060665,1405
27,West North Central,Nebraska,1745,676,1925614,2421
28,Mountain,Nevada,7058,486,3027341,7544
29,New England,New Hampshire,835,615,1353465,1450
30,Mid-Atlantic,New Jersey,6048,3350,8886025,9398
31,Mountain,New Mexico,1949,602,2092741,2551
32,Mid-Atlantic,New York,39827,52070,19530351,91897
33,South Atlantic,North Carolina,6451,2817,10381615,9268
34,West North Central,North Dakota,467,75,758080,542
35,East North Central,Ohio,6929,3320,11676341,10249
36,West South Central,Oklahoma,2823,1048,3940235,3871
37,Pacific,Oregon,11139,3337,4181886,14476
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922,13512
39,New England,Rhode Island,747,354,1058287,1101
40,South Atlantic,South Carolina,3082,851,5084156,3933
41,West North Central,South Dakota,836,323,878698,1159
42,East South Central,Tennessee,6139,1744,6771631,7883
43,West South Central,Texas,19199,6111,28628666,25310
44,Mountain,Utah,1904,972,3153550,2876
45,New England,Vermont,780,511,624358,1291
46,South Atlantic,Virginia,3928,2047,8501286,5975
47,Pacific,Washington,16424,5880,7523869,22304
48,South Atlantic,West Virginia,1021,222,1804291,1243
49,East North Central,Wisconsin,2740,2167,5807406,4907
50,Mountain,Wyoming,434,205,577601,639

In [4]:
# Add p_homeless col as proportion of total homeless population to the state population
homelessness["p_homeless"] = homelessness["total"] / homelessness["state_pop"] *100

In [5]:
homelessness

,region,state,individuals,family_members,state_pop,total,p_homeless
0,East South Central,Alabama,2570,864,4887681,3434,0.070258
1,Pacific,Alaska,1434,582,735139,2016,0.274234
2,Mountain,Arizona,7259,2606,7158024,9865,0.137817
3,West South Central,Arkansas,2280,432,3009733,2712,0.090108
4,Pacific,California,109008,20964,39461588,129972,0.329363
5,Mountain,Colorado,7607,3250,5691287,10857,0.190765
6,New England,Connecticut,2280,1696,3571520,3976,0.111325
7,South Atlantic,Delaware,708,374,965479,1082,0.112069
8,South Atlantic,District of Columbia,3770,3134,701547,6904,0.984111
9,South Atlantic,Florida,21443,9587,21244317,31030,0.146063
10,South Atlantic,Georgia,6943,2556,10511131,9499,0.090371
11,Pacific,Hawaii,4131,2399,1420593,6530,0.459667
12,Mountain,Idaho,1297,715,1750536,2012,0.114936
13,East North Central,Illinois,6752,3891,12723071,10643,0.083651
14,East North Central,Indiana,3776,1482,6695497,5258,0.078530
15,West North Central,Iowa,1711,1038,3148618,2749,0.087308
16,West North Central,Kansas,1443,773,2911359,2216,0.076116
17,East South Central,Kentucky,2735,953,4461153,3688,0.082669
18,West South Central,Louisiana,2540,519,4659690,3059,0.065648
19,New England,Maine,1450,1066,1339057,2516,0.187893
20,South Atlantic,Maryland,4914,2230,6035802,7144,0.118360
21,New England,Massachusetts,6811,13257,6882635,20068,0.291574
22,East North Central,Michigan,5209,3142,9984072,8351,0.083643
23,West North Central,Minnesota,3993,3250,5606249,7243,0.129195
24,East South Central,Mississippi,1024,328,2981020,1352,0.045354
25,West North Central,Missouri,3776,2107,6121623,5883,0.096102
26,Mountain,Montana,983,422,1060665,1405,0.132464
27,West North Central,Nebraska,1745,676,1925614,2421,0.125726
28,Mountain,Nevada,7058,486,3027341,7544,0.249196
29,New England,New Hampshire,835,615,1353465,1450,0.107132
30,Mid-Atlantic,New Jersey,6048,3350,8886025,9398,0.105762
31,Mountain,New Mexico,1949,602,2092741,2551,0.121898
32,Mid-Atlantic,New York,39827,52070,19530351,91897,0.470534
33,South Atlantic,North Carolina,6451,2817,10381615,9268,0.089273
34,West North Central,North Dakota,467,75,758080,542,0.071496
35,East North Central,Ohio,6929,3320,11676341,10249,0.087776
36,West South Central,Oklahoma,2823,1048,3940235,3871,0.098243
37,Pacific,Oregon,11139,3337,4181886,14476,0.346160
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922,13512,0.105555
39,New England,Rhode Island,747,354,1058287,1101,0.104036
40,South Atlantic,South Carolina,3082,851,5084156,3933,0.077358
41,West North Central,South Dakota,836,323,878698,1159,0.131900
42,East South Central,Tennessee,6139,1744,6771631,7883,0.116412
43,West South Central,Texas,19199,6111,28628666,25310,0.088408
44,Mountain,Utah,1904,972,3153550,2876,0.091199
45,New England,Vermont,780,511,624358,1291,0.206772
46,South Atlantic,Virginia,3928,2047,8501286,5975,0.070283
47,Pacific,Washington,16424,5880,7523869,22304,0.296443
48,South Atlantic,West Virginia,1021,222,1804291,1243,0.068891
49,East North Central,Wisconsin,2740,2167,5807406,4907,0.084496
50,Mountain,Wyoming,434,205,577601,639,0.110630

In [6]:
# Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state, 
# using state_pop for state population.
# Create indiv_per_10k col as homeless individuals per 10k state pop

homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"] 

#Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
# Subset rows for indiv_per_10k greater than 20

high_homelessness = homelessness[homelessness["indiv_per_10k"] >20]

#Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
# Sort high_homelessness by descending indiv_per_10k

high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

#Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.
# From high_homelessness_srt, select the state and indiv_per_10k cols

result = high_homelessness_srt[["state", "indiv_per_10k"]]

# See the result
result

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

In [32]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness["region"]=="[Mountain"]

# See the result
print(mountain_reg)

Empty DataFrame
Columns: [region, state, individuals, family_members, state_pop, total, p_homeless, indiv_per_10k]
Index: []