In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the feather file
stack_overflow = pd.read_feather(r"D:\python Folder\stack_overflow.feather")

# Display the first few rows
stack_overflow.head()

,respondent,main_branch,hobbyist,age,age_1st_code,age_first_code_cut,comp_freq,comp_total,converted_comp,country,...,survey_length,trans,undergrad_major,webframe_desire_next_year,webframe_worked_with,welcome_change,work_week_hrs,years_code,years_code_pro,age_cat
0,36.0,"I am not primarily a developer, but I write co...",Yes,34.0,30.0,adult,Yearly,60000.0,77556.0,United Kingdom,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;React.js,Just as welcome now as I felt last year,40.0,4.0,3.0,At least 30
1,47.0,I am a developer by profession,Yes,53.0,10.0,child,Yearly,58000.0,74970.0,United Kingdom,...,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Spring,Flask;Spring,Just as welcome now as I felt last year,40.0,43.0,28.0,At least 30
2,69.0,I am a developer by profession,Yes,25.0,12.0,child,Yearly,550000.0,594539.0,France,...,Too short,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask,Just as welcome now as I felt last year,40.0,13.0,3.0,Under 30
3,125.0,"I am not primarily a developer, but I write co...",Yes,41.0,30.0,adult,Monthly,200000.0,2000000.0,United States,...,Appropriate in length,No,None,None,None,Just as welcome now as I felt last year,40.0,11.0,11.0,At least 30
4,147.0,"I am not primarily a developer, but I write co...",No,28.0,15.0,adult,Yearly,50000.0,37816.0,Canada,...,Appropriate in length,No,"Another engineering discipline (such as civil,...",None,Express;Flask,Just as welcome now as I felt last year,40.0,5.0,3.0,Under 30

In [9]:
print(stack_overflow.shape[0])

2261

In [12]:
#Listedeki avarage maas
mean_comp_samp= stack_overflow['converted_comp'].mean()
print(mean_comp_samp)

119574.71738168952

In [17]:
# Random Sampling
simple_samp = stack_overflow.sample(frac=1, replace=True)['converted_comp']
print(simple_samp)

181     250000.0
1568     64859.0
1845    200000.0
1574    400000.0
2080     25476.0
          ...
1320      8377.0
624     250000.0
1547     90000.0
911      28140.0
881      24864.0
Name: converted_comp, Length: 2261, dtype: float64

In [21]:
np.mean(simple_samp)

np.float64(114200.56037151703)

In [28]:
np.std(stack_overflow['converted_comp'],ddof=0)

np.float64(265497.3410580749)